<%- include("partials/header.ejs") %>

<div class=" container">
  <p id="p1">Bitcoin's last trade price:</p>
  <p id="p2"><%= symbol %></p>
  <p id="p3"><%=content %></p>
</div>

<%- include('partials/footer.ejs') %>
