body{
    display: flex;
    justify-content: center;
    align-items: center;
    width:  100vw;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#p1{
    display: block;
    border: 3px dotted red;
    background-color: red;
}

#p2{
    display: block;
    border: 2px solid red;
}

#p3{
    display: block;
    border: 2px solid black;

}